* {
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    border: none;
    margin-right: 20px;
    justify-content: space-between;
    transform: translateY(-150%);
    animation: ani 1s forwards;
  }
  
  @keyframes ani {
      0% {transform: translateY(-150%);}
      100% {transform: translateY(0);}
  }

body {
    background-color: black;
}

.container {
    grid-gap: 20px;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}    

.characters {
    margin: 10px;
    min-height: auto;
    width: 350px;
    border-radius: 5px;
    border: solid 3px #ffa67c;
    background-color: black;
}

.characters:hover {
    background-color: #24243a;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#e4ff4e;
    text-align: left;
    margin-left: 10px;
}

img {
    width: 100%;
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:white;
    text-align: left;
    margin-left: 10px;
}

a {
    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-size: 14px;
    font-style:italic;
    color:rgb(255, 217, 134);
    display: flex;
    word-wrap: break-word;
    margin-left: 10px;
}

.epi {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color:white;
    text-align: left;
    margin-left: 5px;
    padding: 3px;
}

time{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color:#53fd7d;
    text-align: left;
    margin-left: 8px;
}

.clickDelete {

    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #fd6969;
    border: none;
    float: right;
    margin: 20px;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clickDelete:hover {
    background-color: #f84040;
}

.check{
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    border: solid 3px #3b3efc;
    color: white;
    display: inline-block;
    margin: 20px;
}

.check:hover{
    background-color: #3b3efc;;
}

.back2Top {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 3px #3b3efc;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    margin: 40px;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: px;
    font-weight: bold;
}
.back2Top:hover {
    background-color:#3b3efc;
}

.searchChar{
    display: inline-block;
}

.inputSearch {
    width: 300px;
    height: 30px;
    background-color: black;
    border: solid 3px #53fd7d;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 30px;
}

@media screen and (max-width: 940px) {

    header{
        height: 150px;  
      }

      .check{
        margin: 10px;
    }

    .inputSearch {
        width: 150px;
        height: 30px;
        margin: 10px;
    }
}

@media screen and (max-width: 520px) {

    header{
        height: 250px;  
      }
}